/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
* === CUSTOM STYLES ===
*/
body, ul, li, button, p, h1, h2, h3, h4 {
  font-family: 'Lato', sans-serif;
  font-size: 62,5%;
  line-height: 1.8rem;
}

.mobile-menu {
  height: 60px;
}

// helper variables
$violet: #5966d2;
$orange: #f5a623;
$borderRadius: 5px;

.description_par {
  line-height: 2.8rem;
  margin: 3rem auto;
}
.text--bold {
  font-weight:700;
}
ul {
  list-style-type: none;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 38px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
}
h1, h3 {
  font-weight: 900;
}
p {
  font-size: 21px;
  font-weight:  300;
}
a {
  text-decoration: none;
  color: inherit;
}
.violet {
  color: $violet
}


