/*
* === MEDIA QUERIES ===
*/
@media screen and (max-width:  763px) {
	//header
	.header__nav {
		display: none;
	}
	.header__nav--open {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 6rem;
		left: 0;
		background: rgba(235, 244, 251, 0.9);
		padding-top: 2rem;
		padding-bottom: 1.5rem;
		width: 100%;
		.btn--nav {
			margin-top: 1.5rem;
		}
	}
	.nav__list--open {
		display: flex;
		flex-direction: column;
	}
	.mobile-menu {
		display: block;
	}
	//sum-up section
	.sum-up__wrapper {
		padding: 1rem 2rem 2rem 2rem;
	}
	.sum-up__icon {
		margin-top: 2rem;
	}
	//footer
	.footer__column--input {
		grid-row: 3;
		grid-column: 1/-1;
	}
}

@media screen and (min-width: 764px) {
	//sum-up section
	.sum-up__wrapper {
		flex-direction: row;
	}
	//description section
	.description__column {
			grid-template-columns: repeat(2, 1fr);
			grid-template-row: repeat(2, 1fr);
	}
	.column__text {
		padding: 2rem;
	}
	.photo-two {
		grid-column: 1/2;
		grid-row: 1/2;
	}
	.column__photo {
		height: 40rem;
	}
	.subcolumn3 {
		grid-column: 2/3;
	}
	//footer
	.footer__wrapper {
		grid-template-columns: 1fr 1fr 1fr 2fr;
	}
	.footer__heading {
		margin: 6rem auto 2rem auto;
	}
}