/*
* === HERO SECTION ===
*/
.hero {
	background-image: url('../assets/hero_safari_op.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
	text-align: center;
}
